<launch>
    
  <rosparam file="$(find mini6dof_arm)/config/controllers.yaml" command="load"/>
  <rosparam file="$(find mini6dof_arm)/config/moveit/joint_limits.yaml" command="load"/>
    
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/arm_robot"
        args="
            joint_state_controller
            joint1_position_controller
            joint2_position_controller
            joint3_position_controller
            joint4_position_controller
            joint5_position_controller
            joint6_position_controller
        "/> 
  

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="TRUE"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" >
    <remap from="joint_states" to="arm_robot/joint_states"/>
  </node>

  <node  name="rviz" pkg="rviz" type="rviz" args="-d $(find mini6dof_arm)/launch/urdf.rviz "/>
  
</launch>